@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: 'Outfit_semibold';
  src: url(../fonts/Outfit-SemiBold.ttf); }
@font-face {
  font-family: 'Outfit_Bold';
  src: url(../fonts/Outfit-Bold.ttf); }
@font-face {
  font-family: 'Outfit_extrabold';
  src: url(../fonts/Outfit-ExtraBold.ttf); }
@font-face {
  font-family: 'Outfit_regular';
  src: url(../fonts/Outfit-Regular.ttf); }
@font-face {
  font-family: 'Outfit_thin';
  src: url(../fonts/Outfit-Thin.ttf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes desplegar {
  0% {
    max-height: 0;
    opacity: 0; }
  100% {
    max-height: 1000px;
    opacity: 1; } }
header {
  height: 90px;
  position: absolute;
  width: 100%; }
  header .container-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px; }
    header .container-header .logo-header {
      height: 90px;
      width: 20%;
      display: flex;
      align-items: center;
      margin-left: 10px; }
      header .container-header .logo-header img {
        width: 30%; }
    header .container-header .menu-header {
      display: flex;
      width: 80%;
      justify-content: flex-end;
      align-items: center; }
      header .container-header .menu-header span {
        font-family: 'Outfit_regular';
        margin: 0px 25px;
        color: #fff; }

.inicio-pagina {
  background-image: url(../imagenes/Pagina_Inicio_2.gif);
  content: '';
  width: 100%;
  height: 100vh;
  background-size: 103%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: flex; }
  .inicio-pagina .line_icon {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 30px; }
    .inicio-pagina .line_icon .raya {
      border: 2px solid #c584cc;
      width: 0%;
      height: 30%;
      margin: 54px 0px 0 0px;
      border-image: linear-gradient(to bottom, #c584cc, #c584cc85) 1; }
      .inicio-pagina .line_icon .raya.button {
        margin: 0px 0px 0 0px;
        border-image: linear-gradient(to bottom, #c584cc, #c584cc85) 1; }
    .inicio-pagina .line_icon .logo_home {
      margin: 6px 0;
      text-align: center; }
      .inicio-pagina .line_icon .logo_home img {
        width: 74%; }
  .inicio-pagina .content-inicio {
    width: 44%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 23px; }
    .inicio-pagina .content-inicio .tittle-inicio {
      margin-top: 160px; }
      .inicio-pagina .content-inicio .tittle-inicio h1 {
        color: #fff;
        font-size: 74px;
        line-height: 0.9;
        margin-bottom: 12px;
        font-family: 'Outfit_Bold'; }
      .inicio-pagina .content-inicio .tittle-inicio span {
        color: white;
        font-size: 30px;
        font-family: 'Outfit_regular'; }
    .inicio-pagina .content-inicio .buttom-contact {
      margin-top: 144px; }
      .inicio-pagina .content-inicio .buttom-contact h3 {
        margin-bottom: 10px;
        color: #fff;
        font-family: 'Outfit_regular'; }
      .inicio-pagina .content-inicio .buttom-contact button {
        background: #cf90d8;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-size: 26px;
        font-family: 'Outfit_regular';
        border: 1px solid #cf90d8; }
        .inicio-pagina .content-inicio .buttom-contact button:hover {
          filter: drop-shadow(0px 0px 10px #fff);
          cursor: pointer; }

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1; } }
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1; } }
.text-focus-in {
  opacity: 0;
  animation: text-focus-in 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s forwards;
  -webkit-animation: text-focus-in 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s forwards; }

@keyframes text-focus-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes text-focus-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.roll-in {
  animation: roll-in 1s forwards; }

.roll-in-top {
  -webkit-animation: roll-in-top 0.6s ease-out both;
  animation: roll-in-top 0.6s ease-out both; }

@keyframes roll-in {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; }
  50% {
    -webkit-transform: translateY(0) rotateX(-180deg) scale(1.5);
    transform: translateY(0) rotateX(-180deg) scale(1.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; } }
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes blur-focus {
  0% {
    filter: blur(5px); }
  100% {
    filter: blur(0px); } }
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes animate {
  to {
    background-position-x: 200px; } }
.container_servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }
  .container_servicios .title_servi h1 {
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background: url("../imagenes/medida.png");
    background-size: contain;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite; }
  .container_servicios .content_servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%; }
    .container_servicios .content_servicios .servicio1 {
      grid-area: 1 / 1 / 2 / 2; }
    .container_servicios .content_servicios .servicio2 {
      grid-area: 1 / 2 / 2 / 3; }
    .container_servicios .content_servicios .servicio3 {
      grid-area: 2 / 1 / 3 / 2; }
    .container_servicios .content_servicios .servicio4 {
      grid-area: 2 / 2 / 3 / 3; }
    .container_servicios .content_servicios .item {
      margin: 20px 0; }
      .container_servicios .content_servicios .item a {
        text-decoration: none;
        color: #000; }
      .container_servicios .content_servicios .item .img_servicios {
        overflow: hidden; }
        .container_servicios .content_servicios .item .img_servicios img {
          margin-bottom: 40px;
          border-radius: 5%;
          width: 90%; }
          .container_servicios .content_servicios .item .img_servicios img.active {
            transition: transform 5s ease, all 1.5s ease;
            transform: scale(2) translate(-35%, -50%);
            /* Aplica el zoom */
            position: fixed;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            max-width: 100vw;
            max-height: 100vh;
            z-index: 1000;
            object-fit: contain; }
          .container_servicios .content_servicios .item .img_servicios img.zoom {
            transform: scale(2) translate(0%, 0%);
            /* Aplica el zoom */
            position: fixed;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            max-width: 100vw;
            max-height: 100vh;
            z-index: 1000;
            object-fit: contain; }
          .container_servicios .content_servicios .item .img_servicios img.close {
            transition: transform 5s ease, all 1.5s ease;
            transform: scale(0.6) translate(-27%, -15%); }
          .container_servicios .content_servicios .item .img_servicios img.close1 {
            transition: transform 5s ease, all 1.5s ease;
            transform: scale(0.6) translate(83%, -15%); }
          .container_servicios .content_servicios .item .img_servicios img.close2 {
            transition: transform 5s ease, all 1.5s ease;
            transform: scale(0.6) translate(-28%, 114%); }
          .container_servicios .content_servicios .item .img_servicios img.close3 {
            transition: transform 5s ease, all 1.5s ease;
            transform: scale(0.6) translate(83%, 112%); }
        .container_servicios .content_servicios .item .img_servicios .vibra:hover {
          animation: vibrate-1 0.3s ease-in-out infinite, blur-focus 3s ease-out forwards; }
      .container_servicios .content_servicios .item .title_DWM:hover {
        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.desarrollo_web {
  display: flex;
  height: 100vh; }
  .desarrollo_web .content-desarrollo {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .desarrollo_web .content-desarrollo .tittle-desarrollo {
      margin: 0 0 30px 50px; }
      .desarrollo_web .content-desarrollo .tittle-desarrollo h1 {
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .desarrollo_web .content-desarrollo .text-desarrollo p {
      font-size: 23px;
      padding: 0 250px 0 51px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .desarrollo_web .content-desarrollo .buttom-back {
      margin: 30px 0 0 54px; }
      .desarrollo_web .content-desarrollo .buttom-back #boton-back {
        padding: 5px 40px;
        font-size: 1rem;
        color: #fff;
        background-color: #333;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
        .desarrollo_web .content-desarrollo .buttom-back #boton-back:hover {
          background-color: #555; }
  .desarrollo_web .video-desarrollo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .desarrollo_web .video-desarrollo img {
      width: 80%;
      border-radius: 15px 0 0 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }

.diseño_web {
  display: flex;
  height: 100vh; }
  .diseño_web .content-diseño {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .diseño_web .content-diseño .tittle-diseño {
      margin: 0px 0px 30px 50px; }
      .diseño_web .content-diseño .tittle-diseño h1 {
        font-size: 47px;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .diseño_web .content-diseño .text-diseño p {
      padding: 0 160px 0 53px;
      font-size: 23px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .diseño_web .content-diseño .buttom-back {
      margin: 30px 0 0 54px; }
      .diseño_web .content-diseño .buttom-back button {
        padding: 5px 40px;
        border-radius: 15px;
        background: #000;
        color: #ffff;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
  .diseño_web .video-diseño {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .diseño_web .video-diseño img {
      width: 80%;
      border-radius: 15px 0 0 15px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }

.analitica_web {
  display: flex;
  height: 100vh; }
  .analitica_web .content-analitica {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .analitica_web .content-analitica .tittle-analitica {
      margin: 19px 0px 30px 50px; }
      .analitica_web .content-analitica .tittle-analitica h1 {
        font-size: 40px;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .analitica_web .content-analitica .text-analitica p {
      padding: 0 8px 0 51px;
      font-size: 21px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .analitica_web .content-analitica .buttom-back {
      margin: 30px 0 0 54px; }
      .analitica_web .content-analitica .buttom-back button {
        padding: 5px 40px;
        border-radius: 15px;
        background: #000;
        color: #ffff;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
  .analitica_web .video-analitica {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .analitica_web .video-analitica img {
      width: 80%;
      border-radius: 15px 0 0 15px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }

.hosting_web {
  display: flex;
  height: 100vh; }
  .hosting_web .content-hosting {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .hosting_web .content-hosting .tittle-hosting {
      margin: 0px 0px 30px 50px; }
      .hosting_web .content-hosting .tittle-hosting h1 {
        font-size: 47px;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .hosting_web .content-hosting .text-hosting p {
      padding: 0 0px 0 51px;
      font-size: 20px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
    .hosting_web .content-hosting .buttom-back {
      margin: 30px 0 0 54px; }
      .hosting_web .content-hosting .buttom-back button {
        padding: 5px 40px;
        border-radius: 15px;
        background: #000;
        color: #ffff;
        opacity: 0;
        animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }
  .hosting_web .video-hosting {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .hosting_web .video-hosting img {
      width: 80%;
      border-radius: 15px 0 0 15px;
      opacity: 0;
      animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s forwards; }

.tecnologias {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000; }
  .tecnologias .difuminado {
    background-image: url(../imagenes/difuminado1.png);
    content: '';
    width: 28%;
    height: 80vh;
    background-size: 103%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 76px; }
  .tecnologias .title_tecnologias {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: end; }
    .tecnologias .title_tecnologias h1 {
      font-size: 74px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-bottom: 2px solid #c584cc;
      width: 37%;
      color: #fff;
      margin-right: 160px;
      border-image: linear-gradient(90deg, #c584cc85, #c584cc, #c584cc85) 1;
      letter-spacing: 4px; }
  .tecnologias .target {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; }
    .tecnologias .target .card {
      position: relative;
      width: 300px;
      height: 350px; }
      .tecnologias .target .card:hover .front {
        transform: perspective(600px) rotateY(180deg); }
      .tecnologias .target .card:hover .back {
        transform: perspective(600px) rotateY(360deg); }
      .tecnologias .target .card .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s; }
      .tecnologias .target .card .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000; }
        .tecnologias .target .card .front img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .tecnologias .target .card .front h3 {
          position: absolute;
          bottom: 0;
          width: 50%;
          height: 45px;
          line-height: 35px;
          color: #fff;
          text-align: justify;
          line-height: 1;
          left: 17px;
          font-family: 'Outfit_regular'; }
      .tecnologias .target .card .back {
        transform: perspective(600px) rotateY(180deg);
        background: linear-gradient(147deg, #533554, #000);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 10px #000;
        border-right: 2px solid #a86baa;
        border-image: linear-gradient(to bottom, #a86baa, #c584cc00) 1;
        border-left: 2px solid #a86baa;
        border-top: 2px solid #a86baa; }
        .tecnologias .target .card .back h3 {
          font-size: 25px;
          margin: 10px 19px 11px;
          letter-spacing: 2px;
          font-family: 'Outfit_thin';
          font-weight: 400; }
        .tecnologias .target .card .back .iconos-technology {
          justify-items: center;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-items: center; }
          .tecnologias .target .card .back .iconos-technology img {
            width: 26%;
            margin-top: 15px; }
          .tecnologias .target .card .back .iconos-technology.backing {
            display: flex;
            flex-direction: column; }
            .tecnologias .target .card .back .iconos-technology.backing img {
              width: 45%; }
          .tecnologias .target .card .back .iconos-technology.analitic img {
            width: 34%; }
          .tecnologias .target .card .back .iconos-technology.analitic .look {
            width: 59%; }

.container-proceso_desarollo {
  width: 100%;
  display: flex;
  height: 654px;
  color: #fff;
  background-color: #1e0521; }
  .container-proceso_desarollo .container-acordeon {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-proceso_desarollo .container-acordeon .tittle-desarollo {
      margin-bottom: 20px;
      width: 100%;
      margin-left: 20%; }
      .container-proceso_desarollo .container-acordeon .tittle-desarollo h1 {
        font-size: 58px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 20px;
        color: #fff;
        border-top: 2px solid #c584cc;
        width: 100%; }
    .container-proceso_desarollo .container-acordeon .content-acordeon {
      width: 80%;
      border: 2px solid;
      cursor: pointer;
      border-image: linear-gradient(to right, #4a497b, #c584cc00) 1; }
      .container-proceso_desarollo .container-acordeon .content-acordeon.buron {
        margin-bottom: 40px;
        border-color: #4a497b;
        border-image: linear-gradient(to right, #4a497b, #c584cc00) 1; }
      .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol {
        display: flex;
        align-items: center;
        height: 30px; }
        .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol .imagen-plus {
          margin-left: 20px; }
          .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol .imagen-plus img {
            width: 90%; }
            .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol .imagen-plus img.mostrar {
              display: block; }
          .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol .imagen-plus img {
            width: 50%; }
            .container-proceso_desarollo .container-acordeon .content-acordeon .t_simbol .imagen-plus img.no_mostrar {
              display: none; }
      .container-proceso_desarollo .container-acordeon .content-acordeon .accordion {
        overflow: hidden; }
        .container-proceso_desarollo .container-acordeon .content-acordeon .accordion.open .accordion-content {
          max-height: 1000px;
          opacity: 1;
          padding: 10px; }
      .container-proceso_desarollo .container-acordeon .content-acordeon .accordion-content {
        max-height: 0;
        opacity: 0;
        padding: 0 10px;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out; }
  .container-proceso_desarollo .container-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: 100%; }
    .container-proceso_desarollo .container-image .flipper {
      position: relative;
      width: 50%;
      height: 200px;
      transform-style: preserve-3d;
      transition: transform 0.5s; }
      .container-proceso_desarollo .container-image .flipper #collage {
        width: 98%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      .container-proceso_desarollo .container-image .flipper .front, .container-proceso_desarollo .container-image .flipper .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center; }
        .container-proceso_desarollo .container-image .flipper .front img, .container-proceso_desarollo .container-image .flipper .back img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .container-proceso_desarollo .container-image .flipper .back {
        transform: rotateX(180deg); }

.container-contactanos {
  width: 100%; }
  .container-contactanos .inicio-contacto {
    background-image: url(../imagenes/banner-contacto.jpg);
    content: '';
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: 100%; }
    .container-contactanos .inicio-contacto .tittle-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55vh;
      background-color: rgba(7, 7, 7, 0.8); }
      .container-contactanos .inicio-contacto .tittle-contact h1 {
        font-size: 40px;
        background-image: linear-gradient(90deg, #c584cc 0%, #fff 100%);
        background-clip: text;
        background: linear-gradient(40deg, #7d6aad, #fff, #856dc3);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1; }
  .container-contactanos .formulario-contact {
    width: 100%;
    background: #000; }
    .container-contactanos .formulario-contact form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0; }
      .container-contactanos .formulario-contact form .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 30%; }
        .container-contactanos .formulario-contact form .form-group .control-label {
          color: #fff;
          margin-bottom: 5px; }
        .container-contactanos .formulario-contact form .form-group .form-control {
          border-radius: 17px;
          height: 28px;
          border: 1px solid #fff;
          background: transparent; }
        .container-contactanos .formulario-contact form .form-group #Usu_Situacion {
          border-radius: 17px;
          height: 28px;
          border: 1px solid #fff;
          background: transparent;
          color: #fff; }
        .container-contactanos .formulario-contact form .form-group #Usu_Comentario {
          border-radius: 17px;
          height: 118px;
          border: 1px solid #fff;
          background: transparent;
          color: #fff; }
      .container-contactanos .formulario-contact form .group_person {
        width: 30%;
        margin: 20px 0;
        color: #fff; }
        .container-contactanos .formulario-contact form .group_person .particulation {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          margin: 10px 0; }
          .container-contactanos .formulario-contact form .group_person .particulation .control-label {
            margin-left: 10px; }
        .container-contactanos .formulario-contact form .group_person .word_eps {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end; }
          .container-contactanos .formulario-contact form .group_person .word_eps .control-label {
            margin-left: 10px; }
      .container-contactanos .formulario-contact form .politica {
        width: 30%;
        margin-bottom: 20px; }
        .container-contactanos .formulario-contact form .politica a {
          text-decoration: none; }
      .container-contactanos .formulario-contact form .accept_politic {
        display: flex;
        width: 30%;
        align-items: center;
        margin-bottom: 20px; }
        .container-contactanos .formulario-contact form .accept_politic .control-label {
          color: #fff;
          margin-right: 7px; }
      .container-contactanos .formulario-contact form .button_form {
        width: 30%; }
        .container-contactanos .formulario-contact form .button_form button {
          width: 100%;
          padding: 5px 0;
          border-radius: 14px; }
  .container-contactanos .information-work {
    margin-top: 103px; }
    .container-contactanos .information-work .adress-telephone-email {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container-contactanos .information-work .adress-telephone-email .item {
        display: flex;
        align-items: center;
        margin-right: 70px; }
        .container-contactanos .information-work .adress-telephone-email .item span img {
          width: 80%;
          height: 30px;
          margin-right: 0.5rem; }
        .container-contactanos .information-work .adress-telephone-email .item p {
          margin: 0;
          white-space: nowrap; }
    .container-contactanos .information-work .map {
      display: flex;
      justify-content: center;
      margin-top: 100px; }
      .container-contactanos .information-work .map iframe {
        width: 88%;
        height: 634px;
        border: 1px solid orange !important;
        padding: 30px 106px; }
    .container-contactanos .information-work .social-media {
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container-contactanos .information-work .social-media .reds {
        width: 80%;
        text-align: center;
        margin: 40px 0; }
        .container-contactanos .information-work .social-media .reds .wrapper {
          display: inline-flex;
          list-style: none; }
          .container-contactanos .information-work .social-media .reds .wrapper .icon {
            position: relative;
            background: #ffffff;
            border-radius: 50%;
            padding: 15px;
            margin: 10px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
            .container-contactanos .information-work .social-media .reds .wrapper .icon .tooltip {
              position: absolute;
              top: 0;
              font-size: 14px;
              background: #ffffff;
              color: #ffffff;
              padding: 5px 8px;
              border-radius: 5px;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
              opacity: 0;
              pointer-events: none;
              transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
              .container-contactanos .information-work .social-media .reds .wrapper .icon .tooltip::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background: #ffffff;
                bottom: -3px;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
            .container-contactanos .information-work .social-media .reds .wrapper .icon:hover .tooltip {
              top: -45px;
              opacity: 1;
              visibility: visible;
              pointer-events: auto; }
            .container-contactanos .information-work .social-media .reds .wrapper .icon:hover span, .container-contactanos .information-work .social-media .reds .wrapper .icon:hover .tooltip {
              text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); }
          .container-contactanos .information-work .social-media .reds .wrapper .facebook:hover {
            background: #1877f2;
            color: #ffffff; }
            .container-contactanos .information-work .social-media .reds .wrapper .facebook:hover .tooltip,
            .container-contactanos .information-work .social-media .reds .wrapper .facebook:hover .tooltip::before {
              background: #1877f2;
              color: #ffffff; }
          .container-contactanos .information-work .social-media .reds .wrapper .twitter:hover {
            background: #222222;
            color: #ffffff; }
            .container-contactanos .information-work .social-media .reds .wrapper .twitter:hover .tooltip,
            .container-contactanos .information-work .social-media .reds .wrapper .twitter:hover .tooltip::before {
              background: #222222;
              color: #ffffff; }
          .container-contactanos .information-work .social-media .reds .wrapper .instagram:hover {
            background: #e4405f;
            color: #ffffff; }
            .container-contactanos .information-work .social-media .reds .wrapper .instagram:hover .tooltip,
            .container-contactanos .information-work .social-media .reds .wrapper .instagram:hover .tooltip::before {
              background: #e4405f;
              color: #ffffff; }
          .container-contactanos .information-work .social-media .reds .wrapper .whatsApp:hover {
            background: #25d366;
            color: #ffffff; }
            .container-contactanos .information-work .social-media .reds .wrapper .whatsApp:hover .tooltip,
            .container-contactanos .information-work .social-media .reds .wrapper .whatsApp:hover .tooltip::before {
              background: #25d366;
              color: #ffffff; }
          .container-contactanos .information-work .social-media .reds .wrapper .linkedin:hover {
            background: #0a66c2;
            color: #ffffff; }
            .container-contactanos .information-work .social-media .reds .wrapper .linkedin:hover .tooltip,
            .container-contactanos .information-work .social-media .reds .wrapper .linkedin:hover .tooltip::before {
              background: #0a66c2;
              color: #ffffff; }

.center {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .center .card {
    width: 29%;
    height: 315px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem; }
    .center .card.green .additional {
      background: linear-gradient(#92bCa6, #A2CCB6); }
      .center .card.green .additional .more-info h1 {
        color: #224C36; }
      .center .card.green .additional .coords {
        color: #325C46; }
      .center .card.green .additional .general {
        margin-bottom: 10px; }
    .center .card:hover .additional {
      width: 100%;
      border-radius: 0 5px 5px 0; }
    .center .card .additional {
      position: absolute;
      width: 150px;
      height: 100%;
      background: linear-gradient(#dE685E, #EE786E);
      transition: width 0.4s;
      overflow: hidden;
      z-index: 2; }
      .center .card .additional .user-card {
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .center .card .additional .user-card img {
          width: 50%; }
      .center .card .additional .more-info {
        width: 366px;
        float: left;
        position: absolute;
        left: 117px;
        height: 100%;
        top: 0;
        padding: 10px 0 0 17px; }
        .center .card .additional .more-info h1 {
          color: #224C36;
          font-size: 25px;
          margin: 0 1rem;
          margin-bottom: 8px; }
      .center .card .additional .coords {
        margin: 0 1rem;
        color: #fff;
        font-size: 1rem;
        margin-bottom: 8px; }
        .center .card .additional .coords p {
          font-size: 18px; }
        .center .card .additional .coords span + span {
          float: right; }
    .center .card .general {
      width: 64%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      box-sizing: border-box;
      padding: 1rem; }
      .center .card .general .more {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 0.9em; }
      .center .card .general h1 {
        margin-bottom: 10px;
        font-size: 25px; }
      .center .card .general p {
        font-size: 18px; }
